<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leadqart</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  </head>

  <body style="height:100vh">
    <div class="container" style="display: grid; place-items: center;height:100vh">
      <div class="col-6">
        <div class="alert alert-danger fade show" role="alert" style="display: flex; justify-content: space-between; align-items: center;">
            <strong>Connection Failed!</strong> 
            <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
            <a href="/facebook" type="button" class="btn btn-danger">Retry</a>
          </div>
        <!-- <div class="alert alert-danger" role="alert">Connection Failed</div>
        <div style="text-align: center">
            <a href="/facebook" class="btn btn-primary">Primary</a>
        </div> -->
      </div>
    </div>
  </body>
</html>
